:root {
    --dark: rgb(0, 38, 87); 
}  

header{

    
}

body {
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;

}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content:end;
    padding-right: 20px;
    
}

nav a {
    margin:0;
    margin-left: 16px;
    text-decoration: none;
    color: black;

}
 
    
.banner-image {
    height: 300px;
    width:100%;
    display:block;  
}

header .name-head{
    margin: 0;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.about-me {
    text-align: center;
    min-height: 100%;
    padding-left: 10rem;
    padding-right:10rem;
    padding-top: 20px;
  
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:whitesmoke;

    
    
  }

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 5px solid var(--dark);
    height: 200px;
    width: 25%;
    background-image: url(./images/14955672218_7b2aef314d_k.jpg);
    background-size: cover;
}
.box2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 5px solid var(--dark);
    height: 200px;
    width: 25%;
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);
    background-size: cover;
}

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 5px solid var(--dark);
    height: 200px;
    width: 25%;
    background-image: url(./images/14955672218_7b2aef314d_k.jpg);
    background-size: cover;
}
.box4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 5px solid var(--dark);
    height: 200px;
    width: 25%;
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);
    background-size: cover;
}

.text-in-image {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    height:50px;
    padding: 10px;
}   

.box1, .box2 img {
    object-fit: fill;
}

@media screen and (max-width:)