:root {
    --dark: rgb(0, 38, 87); 
}  

body {
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content:end;
    padding-right: 20px;
    
}

nav a {
    margin:0;
    margin-left: 16px;
    text-decoration: none;
    color: black;

}
 
    
.banner-image {
    height: 300px;
    width:100%;
    display:block;  
}

.name-head{
    margin: 0;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}


.about-me {                  /* Bio needs to be written in at later date*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}


.aboutimg {                /* Profile picture image*/
    width: 300px;
    border-radius: 50px;
}

.contenthead {          /* Class for content topics */
    font-size: 170%;
    color:black;
    text-align: center;
    padding-top: 60px;
    text-decoration: none;
    list-style-type: none;
}

  .container{            /*main flexbox container*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color:whitesmoke;
    
  }

.topbox {                   /*top flexbox, larger than the others, background image linked in CSS needs
                             to be changed to HTML and fitted at later date and then compress the CSS */
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 1000px;
    outline: 5px solid var(--dark);
    background-image: url(./images/thor.png);
    background-size: cover;
    
}

.project {                                                   
    height: 400px;
    width: 1000px;
}

.media-size {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 400px;
    width: 400px;
    outline: 5px solid var(--dark);
    background-size: cover;
}


#box1 {                                     
    background-image: url(./images/14955672218_7b2aef314d_k.jpg);
   
}
#box2 {
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);
}

#box3 {
    background-image: url(./images/14955672218_7b2aef314d_k.jpg);
    
}
#box4 {
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);  
}

#box5 {
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);  
}

#box6 {
    background-image: url(./images/Screenshot\ 2022-10-27\ 135847.png);  
}

.text-in-image {          /* Header text for the box categories*/
    display: flex;
    align-items: center;
    background-color: var(--dark);
    height:50px;
    padding: 10px;
}   



#contactme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding-bottom: 50px ;
    color:black;


}
@media screen and (max-width:844px) {                       /*Media screen changing the sizes of content in under 800px*/
    .container .project {
        flex-direction: column;
        
    } 
    .topbox   {
       
        flex: 1 0 150px;
        width: 300px;
        height: 200px;   
        
    }
    .media-size {
        width:300px;
       

    }
    nav ul{
       
        padding-right: 30px;      
    }
    .name-head{
    padding-top: 10px;
    padding-left: 40px;
    }
}